
html {
	box-sizing: border-box;
    height: 100%;
    cursor: pointer;
}

*, *:after, *:before {
	box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,ul,p {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
    color: #fff; 
    height: 100%;
    background: #F3F3F3;
    cursor: default;
}



/** repeat **/

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.button { 
    padding: 7px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39F59B;
    border-radius: 41px;
    color: #fff;
    font-weight: 400;
    font-size: 31px;
    line-height: 38px;
    text-align: center;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color:#29c77b;
}
 
.bgfilter {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: #F3F3F3; 
    opacity: 0.8;
} 

/** repeat end **/

/** header start **/

.header {
    height: 140px;
    min-height: 140px;
    background-color: #f3f3f3;
}

.header__logo img {
    height: 140px;
    min-height: 140px;
}

.header__buttons {
    display: flex; 
}

.header__buttons .button:first-of-type {
    margin-right: 10px;
}
 
.header__menu { 
    background: #39F59B;
    border-radius: 49px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: 14px;
}

.header__menu ul {
    display: flex; 
    gap: 30px;
    padding: 0 40px;
}

.header__menu-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px; 
    display: inline-block;
    position: relative;
}

.header__menu-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.header__menu-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.open{
    display: flex !important;
}

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    cursor: pointer;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #39F59B;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #39F59B;
    transition: all 0.3s ease 0s;
}

.burger::before { 
    top: 0 
}

.burger::after {
    bottom: 0 
}

.burger.active span { 
    transform: scale(0) 
}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}




@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

/** header end **/

 

/** main start **/

.content {
    flex: 1 1 auto;
    position: relative;
    background-image: url('../img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content.nobg {
    background: #f3f3f3 !important;
}

.content.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .container {
    z-index: 2;
    position: relative;
}

 
.home__block {
    text-align: center;
}

.home__block .button {
    background: rgba(57, 245, 155, 0.7);
    border-radius: 15px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    padding: 13px 44px;
    display: inline-flex;
}

.home__block .button:hover {
    background: rgba(57, 245, 155, 1);  
}

.dashboard__block {
    width: 747px;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 27px;
    margin: 47px auto;
    padding: 47px 0;
}

.dashboard__block-header {
    display: flex;
    justify-content: space-between;
    max-width: 560px; 
    margin: 0 auto 37px auto;
}

.dashboard__block-main {
    max-width: 465px; 
    margin: 0 auto;
}

.dashboard__block-main .button {
    margin-bottom: 12px;
    padding: 7px 4px;
}

 

.information__block {
    overflow-x: auto;
    margin: 47px 0;
}

.information__block::-webkit-scrollbar {
    cursor: pointer !important;
    background-color: #f3f3f3;
}
  
.information__block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    cursor: pointer !important;
    background: linear-gradient(45deg, rgb(57, 245, 155), rgb(91, 214, 155));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, rgb(57, 245, 155), rgb(67, 160, 115));
}
  
  
.information__block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f3f3f3;
    cursor: pointer !important;
}

 

.information__block-table {
    border-collapse: separate;
    border-spacing: 6px 5px;
    font-weight: 400;
    font-size: 31px;
    line-height: 38px;
    margin-left: -6px;
} 

.information__block th, .information__block td {
    padding: 0.25em 0.5em;
    text-align: center;
}

.information__block th:nth-child(2), .information__block td:nth-child(2) {
    text-align: right;
}
  
.information__block td {
    background-color: #39F59B;
}

.information__block th {
    background-color: #39F59B;
    color: #fff;
}
  
.login__block {
    width: 747px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    margin: 47px auto;
    padding: 47px 0;
    position: relative;
}

.login__block::before {
    content: '';
    position: absolute;
    background: #39F59B;
    border-radius: 0px 0px 13.5px 13.5px;
    height: 56px;
    width: 100%;
    background-color: #39F59B;
    bottom: 0;
}



.login__form {
    max-width: 600px;
	margin: 0 auto; 
    padding: 60px 0 58px 0;
    text-align: center;
}

.login__form input {
	color: #fff;
	width: 100%;
    font-weight: 400;
    font-size: 31px;
    line-height: 38px;  
    border-radius: 15px;
	margin-bottom: 40px;
    background-color: #39F59B;
	border: none; 
	height: 79px;
    padding: 0 30px;
}

.login__form input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.login__form-btn {
	border: none;
    background: #39F59B;
    border-radius: 15px;
	cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 31px;
    line-height: 38px;
    padding: 8px 56px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.login__form-btn:hover {
    background-color:#29c77b;
}

.about__block {
    text-align: center;
}

.about__block-map {
    margin: 20px auto 45px auto;
    background: #D9D9D9;
    max-width: 650px;
    height: 555px;
}

.about__block-title {
    background: #39F59B;
    border-radius: 15px;
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding: 13px 37px;
    margin-bottom: 25px;
}

.about__block-adress {
    color: #000;
    display: flex;
    flex-direction: column;
    max-width: 245px;
    margin: 0 auto;
}

.about__block-adress p {
    display: inline;
    border-bottom: 2px solid #39F59B;
    margin-bottom: 15px;
    font-size: 21px;
}

.catalog__block {
    margin: 0 auto;
    max-width: 855px;
}

.catalog__block-header {
    margin: 10px auto 12px auto;
    max-width: 310px;
}

.catalog__block-fsearch {
    position: relative;
}

.catalog__block-fsearch input {
    background: #39F59B;
    border-radius: 15px;
    border: none;
    height: 44px;
    padding: 10px 46px 10px 16px;
    color: #fff;
    display: block;
    width: 100%;
}

.catalog__block-fsearch input:focus {
    outline: none;
}
 
.catalog__block-fsearch input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.catalog__block-fsearch button {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 11px;
    height: 100%;
    width: 30px;
    background-color: transparent;
}

.catalog__block-filter {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.catalog__block-filter .button {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 15px;
    padding: 5px 30px;
}

.catalog__cards {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__cards-item {
    width: 240px; 
    margin-bottom: 45px;
}

.catalog__cards-item-img {
    background: #D9D9D9;
    border-radius: 6px;
    margin-bottom: 5px;
}
 
.catalog__cards-item-img img {
    width: 240px;
    height: 235px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}

.catalog__cards-text {
    font-weight: 400;
    color: #000;
}

.catalog__cards--title {
    margin-bottom: 5px;
    font-size: 19px;
    line-height: 23px;
}

.catalog__cards--price {
    font-size: 26px;
    line-height: 31px;
}

/** main end **/


/** footer start **/

.footer {
    background: #39F59B;
    min-height: 90px; 
}

.footer__copy {
    margin: 0 auto;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    text-align: center;
}

/** footer end **/


